.main {
    background-color: #FFFFFF;
    color: #314367;
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('/bg.png'); /* укажите путь к вашему изображению здесь */
    background-size: cover; /* Изображение будет покрывать весь фон */
    background-position: center; /* Центровка изображения */
    background-repeat: no-repeat; /* Избегайте повторения изображения */
    min-height: 100vh; /* Обеспечение охвата всей высоты страницы */
}

.heroSection {
    display: flex;
    min-height: 50vh;
}

.imageContainer {
    flex: 1;
    position: relative;
    width: 100%;
}

.textContainer {
    flex: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.textContainer h1 {
    font-size: 60px;
    margin-bottom: 1rem;
    font-weight: bold;
}

.textContainer p {
    color: black;
    font-size: 25px;
}

.eventButton {
    margin-top: 20px;
    padding: 12px 22px;
    color: #FFFFFF;
    background-color: #314367;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.eventButton:hover {
    background-color: #25334D;
}

.separator {
    height: 160px;
    background-color: #314367;
    width: 100%;
}

.features {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    padding: 2rem;
}

.card {
    background-color: #f0f4fa;
    padding: 2rem;
    border-radius: 8px;
    width: 30%;
}

.card h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.footer {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #314367;
    color: white;
}